{% macro peripheral(name, base_address) -%}
        <peripheral>
            <name>{{ name }}</name>
            <description>Mailboxes for talking to/from VideoCore</description>
            <baseAddress>{{ "0x{:x}".format(base_address) }}</baseAddress>
            <addressBlock>
                <offset>0</offset>
                <size>0x40</size>
                <usage>registers</usage>
            </addressBlock>
            <registers>
                <register>
                    <name>READ</name>
                    <description>Read messages from the VideoCore</description>
                    <addressOffset>0</addressOffset>
                    <access>read-only</access>
                    <size>32</size>
                </register>
                <register>
                    <name>PEEK0</name>
                    <addressOffset>0x10</addressOffset>
                    <size>32</size>
                </register>
                <register>
                    <name>SENDER0</name>
                    <addressOffset>0x14</addressOffset>
                    <size>32</size>
                </register>
                <register>
                    <name>STATUS0</name>
                    <addressOffset>0x18</addressOffset>
                    <size>32</size>
                    <fields>
                        <field>
                            <name>FULL</name>
                            <bitOffset>31</bitOffset>
                            <bitWidth>1</bitWidth>
                            <access>read-only</access>
                        </field>
                        <field>
                            <name>EMPTY</name>
                            <bitOffset>30</bitOffset>
                            <bitWidth>1</bitWidth>
                            <access>read-only</access>
                        </field>
                    </fields>
                </register>
                <register>
                    <name>CONFIG0</name>
                    <addressOffset>0x1c</addressOffset>
                    <size>32</size>
                    <fields>
                        <field>
                            <name>IRQEN</name>
                            <description>Enable the interrupt when data is available</description>
                            <bitOffset>0</bitOffset>
                            <bitWidth>1</bitWidth>
                            <access>read-write</access>
                        </field>
                    </fields>
                </register>
                <register>
                    <name>WRITE</name>
                    <description>Write messages to the VideoCore</description>
                    <addressOffset>0x20</addressOffset>
                    <access>write-only</access>
                    <size>32</size>
                </register>
                <register>
                    <name>PEEK1</name>
                    <addressOffset>0x30</addressOffset>
                    <size>32</size>
                </register>
                <register>
                    <name>SENDER1</name>
                    <addressOffset>0x34</addressOffset>
                    <size>32</size>
                </register>
                <register>
                    <name>STATUS1</name>
                    <addressOffset>0x38</addressOffset>
                    <size>32</size>
                </register>
                <register>
                    <name>CONFIG1</name>
                    <addressOffset>0x3c</addressOffset>
                    <size>32</size>
                </register>
            </registers>
        </peripheral>
{%- endmacro %}
