<?xml version="1.0" encoding="utf-8"?>
<device schemaVersion="1.3" xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:noNamespaceSchemaLocation="CMSIS-SVD.xsd">
    <vendor>BROADCOM</vendor>
    <vendorID>BRCM</vendorID>
    <name>{{ name }}</name>
    <series>BCM2711</series>
    <version>A</version>
    <description>BCM2711 found in the Raspberry Pi 4</description>
    <cpu>
        <name>CA72</name>
        <revision>r0p0</revision>
        <endian>little</endian>
        <nvicPrioBits>2</nvicPrioBits>
    </cpu>
    <headerSystemFilename>system_bcm2711</headerSystemFilename>
    <addressUnitBits>8</addressUnitBits>
    <width>64</width>
    <size>32</size>
    <peripherals>
        {%- import "peripherals/vcmailbox.svd.jinja" as vcmailbox %}
        {{ vcmailbox.peripheral("VCMAILBOX", peripheral_base + 0xB880) }}

        {%- import "peripherals/gpio.svd.jinja" as gpio %}
        {{ gpio.peripheral("GPIO", peripheral_base + 0x200000, altfunc)}}

        {%- import "peripherals/bcm_system_timer.svd.jinja" as bcm_system_timer %}
        {{ bcm_system_timer.peripheral("SYSTMR", peripheral_base + 0x3000)}}

        {%- import "peripherals/arm_uart_pl011.svd.jinja" as arm_uart_pl011 %}
        {{ arm_uart_pl011.peripheral("UART0", peripheral_base + 0x201000)}}

        {%- import "peripherals/bcm_aux.svd.jinja" as bcm_aux %}
        {{ bcm_aux.peripheral(peripheral_base + 0x215000)}}

        {%- import "svd.jinja" as svd %}
        {{ svd.derived_peripheral("UART2", peripheral_base + 0x201400, "UART0") }}
        {{ svd.derived_peripheral("UART3", peripheral_base + 0x201600, "UART0") }}
        {{ svd.derived_peripheral("UART4", peripheral_base + 0x201800, "UART0") }}
        {{ svd.derived_peripheral("UART5", peripheral_base + 0x201A00, "UART0") }}

        {%- import "peripherals/bcm_legacy_interrupt.svd.jinja" as bcm_legacy_interrupt %}
        {{ bcm_legacy_interrupt.peripheral("LIC", arm_local_base + 0x00000)}}

        {%- import "peripherals/arm_gic400.svd.jinja" as arm_gic400 %}
        {{ arm_gic400.peripheral("GIC", arm_local_base + 0x40000, interrupt_names=interrupt_names)}}

        {%- import "peripherals/synopsis_usb_dwc2.svd.jinja" as synopsis_usb_dwc2 %}
        {{ synopsis_usb_dwc2.peripheral("USB_OTG", peripheral_base + 0x980000)}}

        {%- import "peripherals/arasan_emmc.svd.jinja" as arasan_emmc %}
        {{ arasan_emmc.peripheral("EMMC", peripheral_base + 0x300000)}}
        {# {{ arasan_emmc.peripheral("EMMC2", peripheral_base + 0x340000)}} #}
    </peripherals>
</device>